.form {
  overflow-wrap: break-word;
  margin-top: 10px;
  width: 100vw;
  padding: 15px;
  /* height: 100vh; */
  background: rgba(58, 58, 58, 0.4333);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: none;
  color: rgb(255, 255, 255);
}

.inputBox {
  background-color: #f3f4f6;
  border-style: none;
  border-radius: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form-group {
  margin-top: 10px;
}

.font-label {
  font-weight: 700;
  font-size: 14px;
}

.thumbnail-font {
  color: rgba(255, 255, 255, 0.484);
  font-weight: 100;
  font-size: 14px;
}

.general-info {
  color: black;
  font-weight: 400;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ellipse-text {
  white-space: nowrap;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}