.resume {
    background-color: white;
    width: 41rem;
    min-height: 49.5rem;
    height: auto;
}

.list-explain {
    margin: 0;
    margin-right: 1.875rem;
    font-size: 0.75rem;
    font-weight: 450;
}

.list-header {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
    margin-right: 1.875rem;
}

.custom-text ol {
    list-style-type: disc !important;
}

.custom-text {
    font-size: 0.75rem;
}