.resume {
    background-color: white;
    width: 595px;
    min-height: 842px;
    height: auto;
    margin: 15px auto;
}

.list-explain {
    margin: 0px;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 450;
}

.list-header {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    margin-right: 30px
}

.custom-text ol {
    list-style-type: disc !important;
    /* Styles all ordered lists inside custom-text */
}

.custom-text {
    font-size: 12px;
}