html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url('./assets/bg1.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.extra-bold {
  font-weight: 800;
}

.font-label {
  font-weight: 700;
  font-size: 14px;
}